@import "../config";

.corp {
  display: block;
  text-align: center;
  margin: 50px 0 120px 0;

  .corp-img {
    display: block;
    text-align: center;

    img {
      text-align: center;
      line-height: 1;
      max-width: 80%;
    }
    .corp-img:nth-child(1) {
      width: 30%;
    }
    margin-bottom: 30px;
  }
  @include respond-to(sm) {
    text-align: left;
    height: 100px;

    .corp-img {
      display: inline-block;
      position: relative;

      img {
        width: 100%;
        max-width: 100%;
      }
    }
    .corp-img:nth-child(1) {
      width: 5.3%;
      margin-left: 25.3%;
    }
    .corp-img:nth-child(2) {
      width: 14.5%;
      margin-left: 11.5%;
      top: -32%;
    }
    .corp-img:nth-child(3) {
      width: 20.7%;
      margin-left: 9.3%;
      top: -30%;
    }
  }
}


